.user{
    border-left: 2px solid black;
    width: 30vw;
    height: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    box-sizing: border-box;
    padding: 12px;
}

.user li{
    list-style: none;
}

.user li a{
    text-decoration: none;
    color: navy;
    font-size: larger;
}